/* 모바일 */
@media only screen and (max-width: 600px) {
    .desktop-tablet-nav-bar {
        display: none;
    }
    .nav-bar-photo {
        width: 80px;
        height: 80px;
        margin: 20px auto;
    }
    .nav-bar-info {
        font-size: 1rem;
    }
    .nav-bar-button {
        font-size: 1rem;
        margin-top: 10px
    }
    .content {
        width: 100%;
        position: absolute;
    }
    .info-header {
        width: 90%;
        margin-left: 5%;
        padding-top: 250px;
        font-size: 1.5rem;
    }
    .info-body {
        width: 90%;
        margin-left: 5%;
        margin-top: 50px;
        font-size: 1.2rem;
    }
    .info-footer {
        width: 90%;
        margin-left: 5%;
        margin-top: 50px;
        font-size: 1rem;
    }
    .about-header {
        width: 90%;
        font-size: 1.2rem;
        margin-left: -10%;
        margin-top: 350px;
    }
    .about-body {
        width: 90%;
        margin-left: 5%;
        margin-top: 30px;
    }
    .about-body-title {
        font-size: 0.8rem;
    }
    .about-body-semi-title {
        font-size: 0.8rem;
        font-weight: 100;
        margin-left: 20px;
    }
    .about-body-content {
        width: 90%;
        margin-left: 5%;
        margin-top: 30px;
    }
    .about-body-content-text {
        font-size: 0.7rem;
    }
    .about-icon-flex {
        width: 90%;
        margin-left: 5%;
        margin-top: 100px;
    }
    .about-icon {
        width: 30%;
        height: 100px;
    }
    .about-footer {
        width: 90%;
        margin-left: 5%;
        margin-top: 50px;
    }
    .about-footer-title {
        font-size: 1.1rem;
    }
    .desktop-tablet-skills {
        display: none;
    }
    .skills-header {
        width: 90%;
        font-size: 1.2rem;
        margin-left: -10%;
        margin-top: 250px;
    }
    .skills-body-title1 {
        width: 90%;
        margin-left: 5%;
        margin-top: 30px;
        font-size: 0.9rem;
    }
    .skills-body-title2 {
        width: 90%;
        margin-left: 5%;
        margin-top: 20px;
        font-size: 0.8rem;
    }
    .skills-body-progress {
        width: 90%;
        margin-left: 5%;
        margin-top: 50px;
    }
    .skills-block {
        width: 50%;
        margin-left: 25%;
        height: 200px;
    }
    .skills-block-content {
        font-size: 0.7rem;
        margin-top: 15px;
    }
    .career-header {
        width: 90%;
        font-size: 1.2rem;
        margin-left: -10%;
        margin-top: 250px;
    }
    .career-header-box {
        width: 90%;
        margin-left: 5%;
        margin-top: 50px;
        overflow-x: hidden;
    }
    .career-header-box-placing {
        height: 1px;
    }
    .career-header-box-content {
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 0.7rem;
    }
    .career-header-box-duration {
        width: 130px;
    }
    .career-header-content {
        width: 90%;
        margin-left: 5%;
        margin-top: 70px;
        font-size: 0.7rem;
        font-weight: bolder;
        border: 1px solid;
        text-align: center;
        padding: 2%;
    }
    .career-body {
        width: 90%;
        margin-left: 6%;
        margin-top: 15px;
        font-size: 0.8rem;
    }
    .career-body-title {
        font-weight: bolder;
        width: 90%;
        margin-left: 5%;
        margin-top: 100px;
    }
    .career-body-content {
        font-weight: bold;
    }
    .career-body-content-text {
        border: 1px solid #9f9f9f;
        color: #9f9f9f;
        width: 100%;
        padding: 3%;
        margin-top: 10px;
    }
    .desktop-project {
        display: none;
    }
    .tablet-project {
        display: none;
    }
    .project-header {
        width: 90%;
        font-size: 1.2rem;
        margin-left: -10%;
        margin-top: 250px;
    }
    .project-body-title {
        width: 90%;
        margin-left: 5%;
        margin-top: 30px;
        font-size: 0.7rem;
    }
    .project-body-projects {
        width: 70%;
        margin-left: 15%;
        margin-top: 50px;
    }
    .project-body-cover {
        width: 70%;
        margin-left: 15%;
    }
    .project-block {
        position: relative;
        height: 200px;
        margin: 80px auto;
        border: 1px solid rgba(0,0,0,0);
    }
    .project-block-content {
        width: 94%;
        height: 74%;
        margin: 3%;
        padding: 10% 2%;
        border: 1px solid white;
        color: #5e5e5e;
        border-radius: 10px;
        font-size: 0.7rem;
    }
    .desktop-tablet-project-detail {
        display: none;
    }
    .project-detail {
        width: 90%;
        margin: 0 auto;
    }
    .project-detail-title {
        margin-left: 5%;
        margin-top: 100px;
        margin-bottom: 20px;
        font-size: 1.2rem;
        font-weight: bolder;
    }
    .project-detail-subtitle {
        margin-left: 5%;
        margin-top: 30px;
        font-weight: 600;
    }
    .project-detail-skill-box {
        margin-left: 5%;
        margin-top: 15px;
        font-size: 0.7rem;
    }
    .project-detail-skill {
        margin-left: 20px;
    }
    .project-detail-info-box {
        margin-left: 5%;
        margin-top: 15px;
        font-size: 0.7rem;
    }
    .project-detail-info {
        margin-left: 20px;
        margin-top: 10px;
    }
    .project-detail-capture-box {
        height: 25vh;
        width: 80%;
        margin-left: 5%;
        margin-top: 15px;
    }
    .project-detail-check-box {
        margin-left: 5%;
        margin-top: 15px;
        font-size: 0.7rem;
    }
    .project-detail-check {
        margin-left: 20px;
        margin-top: 10px;
    }
    .project-detail-check-footer {
        margin-left: 5%;
        margin-top: 15px;
        font-size: 0.8rem;
        padding-right: 5%;
    }
    .project-detail-check-footer-item {
        margin-left: 5%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* 태블릿 */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .desktop-tablet-nav-bar {
        width: 150px;
        height: 100vh;
        position: fixed;
    }
    .mobile-nav-bar {
        display: none;
    }
    .nav-bar-photo {
        width: 80px;
        height: 80px;
        margin: 30px auto;
    }
    .nav-bar-info {
        font-size: 1rem;
    }
    .nav-bar-button {
        font-size: 1rem;
        margin-top: 10px
    }
    .pointer-icon {
        font-size: 1rem;
    }
    .content {
        width: 70%;
        position: absolute;
        left: 150px
    }
    .info-header {
        width: 85%;
        margin-left: 150px;
        padding-top: 100px;
        font-size: 2rem;
    }
    .info-body {
        width: 85%;
        margin-left: 150px;
        margin-top: 50px;
        font-size: 1.5rem;
    }
    .info-footer {
        width: 85%;
        margin-left: 150px;
        margin-top: 50px;
        font-size: 1.2rem;
    }
    .about-header {
        font-size: 2rem;
        margin-left: -3%;
        margin-top: 350px;
    }
    .about-body {
        width: 85%;
        margin-left: 12%;
        margin-top: 30px;
    }
    .about-body-title {
        font-size: 1.3rem;
    }
    .about-body-semi-title {
        font-size: 1rem;
        font-weight: 100;
        margin-left: 30px;
    }
    .about-body-content {
        width: 85%;
        margin-left: 12%;
        margin-top: 30px;
    }
    .about-body-content-text {
        font-size: 0.9rem;
    }
    .about-icon-flex {
        width: 85%;
        margin-left: 12%;
        margin-top: 100px;
    }
    .about-icon {
        width: 30%;
        height: 100px;
    }
    .about-footer {
        width: 85%;
        margin-left: 12%;
        margin-top: 50px
    }
    .about-footer-title {
        font-size: 1.4rem;
    }
    .mobile-skills {
        display: none;
    }
    .skills-header {
        font-size: 1.8rem;
        margin-left: -3%;
        margin-top: 200px;
    }
    .skills-body-title1 {
        width: 85%;
        margin-left: 12%;
        margin-top: 30px;
        font-size: 1rem;
    }
    .skills-body-title2 {
        width: 85%;
        margin-left: 12%;
        margin-top: 20px;
        font-size: 0.9rem
    }
    .skills-body-progress {
        width: 85%;
        margin-left: 12%;
        margin-top: 50px;
    }
    .skills-body-cover {
        width: 85%;
        margin-left: 12%;
    }
    .skills-block {
        height: 200px;
    }
    .skills-block-content {
        font-size: 0.7rem;
        margin-top: 15px;
    }
    .career-header {
        font-size: 1.8rem;
        margin-left: -3%;
        margin-top: 200px;
    }
    .career-header-box {
        width: 85%;
        margin-left: 12%;
        margin-top: 50px;
        overflow-x: hidden;
    }
    .career-header-box-placing {
        height: 1px;
    }
    .career-header-box-content {
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px
    }
    .career-header-box-duration {
        width: 200px;
    }
    .career-header-content {
        width: 85%;
        margin-left: 12%;
        margin-top: 70px;
        font-weight: bolder;
        border: 1px solid;
        text-align: center;
        padding: 2%;
    }
    .career-body {
        width: 85%;
        margin-left: 15%;
        margin-top: 15px;
    }
    .career-body-title {
        font-size: 1.3rem;
        font-weight: bolder;
        width: 85%;
        margin-left: 12%;
        margin-top: 200px;
    }
    .career-body-content {
        font-weight: bold;
    }
    .career-body-content-text {
        border: 1px solid #9f9f9f;
        color: #9f9f9f;
        width: 80%;
        padding: 3%;
        margin-top: 10px;
    }
    .desktop-project {
        display: none;
    }
    .mobile-project {
        display: none;
    }
    .project-header {
        font-size: 1.8rem;
        margin-left: -3%;
        margin-top: 200px;
    }
    .project-body-title {
        width: 85%;
        margin-left: 15%;
        margin-top: 30px;
        font-size: 0.9rem;
    }
    .project-body-projects {
        width: 85%;
        margin-left: 15%;
        margin-top: 50px;
    }
    .project-body-cover {
        width: 85%;
        margin-left: 15%;
    }
    .project-block {
        position: relative;
        height: 200px;
    }
    .project-block-content {
        width: 94%;
        height: 74%;
        margin: 3%;
        padding: 10% 2%;
        border: 1px solid white;
        color: #5e5e5e;
        border-radius: 10px;
        font-size: 0.7rem;
    }
    .mobile-project-detail {
        display: none;
    }
    .project-detail {
        width: 85%;
        margin: 0 auto;
    }
    .project-detail-title {
        margin-left: 5%;
        margin-top: 50px;
        font-size: 1.8rem;
        font-weight: bolder;
    }
    .project-detail-subtitle {
        margin-left: 5%;
        margin-top: 30px;
        font-size: 1.3rem;
        font-weight: 600;
    }
    .project-detail-skill-box {
        margin-left: 5%;
        margin-top: 15px;
    }
    .project-detail-skill {
        margin-left: 20px;
    }
    .project-detail-info-box {
        margin-left: 5%;
        margin-top: 15px;
    }
    .project-detail-info {
        margin-left: 20px;
        margin-top: 10px;
    }
    .project-detail-capture-box {
        height: 25vh;
        width: 80%;
        margin-left: 5%;
        margin-top: 15px;
    }
    .project-detail-check-box {
        margin-left: 5%;
        margin-top: 15px;
        font-size: 0.9rem;
    }
    .project-detail-check {
        margin-left: 20px;
        margin-top: 15px;
    }
    .project-detail-check-footer {
        margin-left: 5%;
        margin-top: 15px;
        font-size: 1.1rem;
    }
    .project-detail-check-footer-item {
        margin-left: 5%;
        padding-right: 5%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .project-detail-nav {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50px;
    }
}

/* 테스크톱 */
@media only screen and (min-width: 1025px) {
    .desktop-tablet-nav-bar {
        width: 16%;
        height: 100vh;
        position: fixed;
        left: 20%;
    }
    .mobile-nav-bar {
        display: none;
    }
    .nav-bar-photo {
        width: 150px;
        height: 150px;
        margin: 50px auto;
    }
    .nav-bar-info {
        font-size: 1.5rem;
    }
    .nav-bar-button {
        font-size: 1.2rem;
        margin-top: 30px
    }
    .pointer-icon {
        font-size: 1.2rem;
    }
    .content {
        width: 60%;
        position: absolute;
        left: 40%;
    }
    .info-header {
        width: 95%;
        margin-left: 5%;
        padding-top: 300px;
        font-size: 4rem;
    }
    .info-body {
        width: 95%;
        margin-left: 5%;
        margin-top: 50px;
        font-size: 2rem;
    }
    .info-footer {
        width: 95%;
        margin-left: 5%;
        margin-top: 50px;
        font-size: 1.6rem;
    }
    .about-header {
        width: 95%;
        margin-left: -10%;
        font-size: 2.5rem;
        margin-top: 500px;
    }
    .about-body {
        width: 75%;
        margin-left: 5%;
        margin-top: 50px;
    }
    .about-body-title {
        cursor: pointer;
        font-size: 1.8rem;
    }
    .about-body-semi-title {
        font-size: 1rem;
        font-weight: 100;
        margin-left: 40px;
    }
    .about-body-content {
        width: 75%;
        margin-left: 5%;
        margin-top: 30px;
    }
    .about-body-content-text {
        font-size: 1.1rem;
    }
    .about-icon-flex {
        width: 75%;
        margin-left: 5%;
        margin-top: 100px;
    }
    .about-icon {
        width: 30%;
        height: 100px;
    }
    .about-footer {
        width: 75%;
        margin-left: 5%;
        margin-top: 50px
    }
    .about-footer-title {
        font-size: 1.7rem;
    }
    .mobile-skills {
        display: none;
    }
    .skills-header {
        width: 95%;
        margin-left: -10%;
        font-size: 2.5rem;
        margin-top: 200px;
    }
    .skills-body-title1 {
        width: 75%;
        margin-left: 5%;
        margin-top: 30px;
        font-size: 1.1rem;
    }
    .skills-body-title2 {
        width: 75%;
        margin-left: 5%;
        margin-top: 20px;
    }
    .skills-body-progress {
        width: 75%;
        margin-left: 5%;
        margin-top: 50px;
    }
    .skills-body-cover {
        width: 75%;
        margin-left: 5%;
    }
    .skills-block {
        height: 200px;
    }
    .skills-block-title {
        font-weight: bolder;
        letter-spacing: 2px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .skills-block-content {
        font-size: 0.9rem;
        margin-top: 30px;
    }
    .career-header {
        width: 95%;
        margin-left: -10%;
        font-size: 2.5rem;
        margin-top: 200px;
    }
    .career-header-box {
        width: 75%;
        margin-left: 5%;
        margin-top: 50px;
        overflow-x: hidden;
    }
    .career-header-box-placing {
        height: 1px;
    }
    .career-header-box-content {
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 30px
    }
    .career-header-box-duration {
        width: 200px;
    }
    .career-header-content {
        width: 75%;
        margin-left: 5%;
        margin-top: 70px;
        font-size: 1.5rem;
        font-weight: bolder;
        border: 1px solid;
        text-align: center;
        padding: 2%;
    }
    .career-body {
        width: 75%;
        margin-left: 6%;
        margin-top: 15px;
    }
    .career-body-title {
        font-size: 1.5rem;
        font-weight: bolder;
        width: 75%;
        margin-left: 5%;
        margin-top: 200px;
    }
    .career-body-content {
        font-weight: bold;
    }
    .career-body-content-text {
        border: 1px solid #9f9f9f;
        color: #9f9f9f;
        width: 80%;
        padding: 3%;
        margin-top: 10px;
    }
    .tablet-project {
        display: none;
    }
    .mobile-project {
        display: none;
    }
    .project-header {
        width: 95%;
        margin-left: -10%;
        font-size: 2.5rem;
        margin-top: 200px;
    }
    .project-body-title {
        width: 75%;
        margin-left: 5%;
        margin-top: 30px;
        font-size: 1.1rem;
    }
    .project-body-projects {
        width: 75%;
        margin-left: 5%;
        margin-top: 50px;
    }
    .project-body-cover {
        width: 75%;
        margin-left: 5%;
    }
    .project-block {
        position: relative;
        height: 250px;
    }
    .project-block-content {
        width: 94%;
        height: 74%;
        margin: 3%;
        padding: 10% 2%;
        border: 1px solid white;
        color: #5e5e5e;
        border-radius: 10px;
        font-size: 0.9rem;
    }
    .mobile-project-detail {
        display: none;
    }
    .project-detail {
        width: 65%;
        margin: 0 auto;
    }
    .project-detail-title {
        margin-left: 5%;
        margin-top: 50px;
        font-size: 3rem;
        font-weight: bolder;
    }
    .project-detail-subtitle {
        margin-left: 5%;
        margin-top: 30px;
        font-size: 2rem;
        font-weight: 600;
    }
    .project-detail-skill-box {
        margin-left: 5%;
        margin-top: 15px;
        font-size: 1.5rem;
    }
    .project-detail-skill {
        margin-left: 20px;
    }
    .project-detail-info-box {
        margin-left: 5%;
        margin-top: 15px;
        font-size: 1.5rem;
    }
    .project-detail-info {
        margin-left: 20px;
        margin-top: 10px;
    }
    .project-detail-capture-box {
        height: 25vh;
        width: 80%;
        margin-left: 5%;
        margin-top: 15px;
    }
    .project-detail-check-box {
        margin-left: 5%;
        margin-top: 15px;
        font-size: 1.2rem;
    }
    .project-detail-check {
        margin-left: 20px;
        margin-top: 20px;
    }
    .project-detail-check-footer {
        margin-left: 5%;
        margin-top: 15px;
        font-size: 1.5rem;
    }
    .project-detail-check-footer-item {
        margin-left: 5%;
        padding-right: 5%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .project-detail-nav {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50px;
    }
}